version: '3.9'

services:
  dello-box-client:
    build:
      context: ./dello-box-client
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./dello-box-client:/dello-box-client
    expose:
      - '3000'
    ports:
      - 3000:3000
    container_name: dello-box-client
    command: npm start

  dello-box-server:
    build:
      context: ./dello-box-server
      dockerfile: Dockerfile
      target: base
    stdin_open: true
    tty: true
    volumes:
      - ./dello-box-server:/home/node/app/
    container_name: dello-box-server
    expose:
      - '8080'
    ports:
      - 8080:8080
    command: npm run dev

  dello-box-database:
    image: postgres
    build: ./dello-box-database
    volumes:
      - ./dello-box-database:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      PGDATA: /dello-box-database
      POSTGRES_DB: delloboxdb
      POSTGRES_USER: GNINE
      POSTGRES_PASSWORD: password
      POSTGRES_ROOT_PASSWORD: password
    container_name: dello-box-database
