.container-create-login-scrolling {
  max-height: 70vh;
  max-width: 100vw;
  overflow: auto;
  min-width: 100vh;
  min-height: 50vh;
}
.container-create-signup-scrolling {
  max-height: 70vh;
  max-width: 100vw;
  overflow: auto;
  min-width: 100vh;
  min-height: 50vh;
}

@media only screen and (max-width: 700px) {
  .container-create-signup-scrolling {
    padding-top: 80;
    max-height: 50vh;
    max-width: 100vw;
    overflow: auto;
    min-width: 40vh;
    min-height: 100vh;
  }
}

@media only screen and (max-width: 700px) {
  .container-create-login-scrolling {
    padding-top: 80;
    max-height: 50vh;
    max-width: 100vw;
    overflow: auto;
    min-width: 40vh;
    min-height: 100vh;
  }
}
