.task-look {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 25px;
  width: auto;
  list-style-type: none;
}

.task-title {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.react-calendar {
  width: auto !important;
}

.calendar-navbar-margin {
  margin-top: 6em;
}
.container-calendar-scrolling {
  max-height: 100vh;
  max-width: 100vw;
  overflow: auto;
  min-width: 60vh;
  min-height: 100vh;
}

@media only screen and (max-width: 700px) {
  .container-calendar-scrolling {
    max-height: 100vh;
    max-width: 90vw;
    overflow: auto;
    min-width: 45vh;
    min-height: 90vh;
  }
}
@media only screen and (max-height: 500px) {
  .container-calendar-scrolling {
    max-height: 100vh;
    max-width: 100vw;
    overflow: auto;
    min-width: 60vh;
    min-height: 50vh;
  }
}
