.task-look {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 25px;
  width: auto;
  list-style-type: none;
}

.task-title {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.react-calendar {
  width: auto !important;
}

.react-calendar__tile {
  padding: 30px !important;
}

.react-datepicker-wrapper {
  padding-bottom: 10px !important;
}
.calendar-navbar-margin {
  margin-top: 4em;
}