h3 {
    background-color: rgb(115, 118, 136);
}

.d-block {
    visibility: hidden;
}

p {
    background-color: rgb(115, 118, 136);
}

@media only screen and (min-width: 900px) and (min-height: 560px) {
    h3{
        font-size: 60px;
    }
    p{
        font-size: 25px;
    }
    img {
        max-width: 100%;
        height: 46vw;
    }
    .d-block {
        visibility: visible;
    }
}

@media only screen and (max-width: 900px){
    .carousel-caption{
        top: 50%;
        transform: translateY(-50%);
        bottom: initial;
    }
}