.modal-backdrop {
  opacity: 0.1 !important;
}

.background-scroll {
  height: 100%;
  overflow: scroll;
}
.task-height {
  height: 100%;
}
.column-height {
  height: 100%;
}
.scroll-margin {
  overflow: scroll;
  height: 80%;
}
