.modal-backdrop {
  opacity: 0.1 !important;
}

.background-scroll {
  height: 100%;
  overflow: scroll;
}
.task-height {
  height: 100%;
}
.column-height {
  height: 100%;
}
.task-navbar-margin {
  margin-top: 2em;
}
.task-button-positioning {
  float: right;
}

.container-scrolling {
  padding-top: 50;
  max-height: 100vh;
  max-width: 100vw;
  overflow: auto;
  min-width: 100vh;
  min-height: 100vh;
}
