.modal-backdrop {
  opacity: 0.5 !important;
}

.background-scroll {
  height: 100%;
  overflow: scroll;
}

.task-height {
  height: 100%;
}

.column-height {
  height: 100%;
}

.task-navbar-margin {
  margin-top: 2em;
}

.task-button-positioning {
  float: right;
}

.task-button-padding {
  margin: 1px;
}

.container-scrolling {
  padding-top: 50;
  max-height: 100vh;
  max-width: 100vw;
  overflow: auto;
  min-width: 100vh;
  min-height: 100vh;
}

.container-create-task-scrolling {
  max-height: 90vh;
  max-width: 100vw;
  overflow: auto;
  min-width: 100vh;
  min-height: 85vh;
}

@media only screen and (max-width: 700px) {
  .container-create-task-scrolling {
    max-height: 93vh;
    max-width: 100vw;
    overflow: auto;
    min-width: 40vh;
    min-height: 80vh;
  }
}

@media only screen and (max-width: 700px) {
  .container-scrolling {
    padding-top: 80;
    max-height: 50vh;
    max-width: 100vw;
    overflow: auto;
    min-width: 40vh;
    min-height: 100vh;
  }
}
